body {
    margin: 0px;
}
/* color, weight,size for the header and main header flexbox */
#header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.headerlogotext {
    color: #f9faf8;
    font-size: 24px;
}
.headersecondarytext {
    font-size: 18px;
    color: #e5e7eb;
}
.headermaintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
/* nested header flexbox*/
.firstheader {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin-left: 8px;
    margin-right: 8px;
}
.secondheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.headerplaceholder {
    padding: 40px;
    background-color: #e5e7eb;
    border-radius: 30px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
/*button style*/
button {
    background-color: #3882f6;
    padding: 12px;
    color: #e5e7eb;
    font-weight: 700;
    border-radius: 50%; 
    text-align: center;
}
/*style the first main section*/
.main1title {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
}
.image {
    list-style: none;
    padding: 30px;
    border-style: groove;
    border-color: #3882f6;
    border-radius: 30px;
    text-align: center;
}
.subtextimages{
    font-size: 18px;
    color: #1f2937;
    list-style: none;
    display: flex;
    margin: 10px;
}
.images {
    display: flex;
    margin: 10px;
}
.main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main2 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}
